body {
	background-image:url("../images/mur.jpg");
}


table tr td.mobile {
	font-size: 20pt;
	
	
}

#game {
	text-align:center;
		font-size: 18pt;
		width:500px;
		padding : 10px 20px 20px 20px;
		margin:auto;
		background-color: white;
		border: 5px ridge black;
		-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#game table {
	margin:auto;
}

#game h1 {
	font-size: 25pt;
}

#game h3 {
	font-size: 20pt;
}


#game p {
	font-size: 18pt;
}

#game #links {
	font-size: 18pt;
}